/* ======================= All colors ======================= */

/*
 * Primary and accent colors are from here: https://material-ui.com/customization/color/#color-tool
 * Background and text colors are from here: https://uxplanet.org/8-tips-for-dark-theme-design-8dfc2f8f7ab6
 */
:root {
    --google-recommended-dark-background-color: #121212;
    --paper-background-color: #424242;
    --primary-color-dark: #1769aa;
    --primary-color-main: #2196f3; /* BLUE 500 */
    --primary-color-light: #4dabf5;
    --primary-color-lighter: #cee8fc;
    --accent-color-dark: #b28900;
    --accent-color-main: #ffc400; /* AMBER A400 */
    --accent-color-light: #ffcf33;
    --disabled-color: #404040;
    --light-text-color-high-emphasis: rgba(255, 255, 255, 0.87);
    --light-text-color-medium-emphasis: rgba(255, 255, 255, 0.60);
    --light-text-color-disabled: rgba(255, 255, 255, 0.38);
}

:root {
    --page-background-color: var(--google-recommended-dark-background-color);
    --main-background-color: var(--paper-background-color);
    --navbar-color: var(--primary-color-dark);
    --dark-primary-text-color: #000; /* BLACK */
    --error-color: #ff5722; /* DEEP ORANGE 500 */
    --accent-color: #ff5722; /* DEEP ORANGE 500 */
    --light-disabled-text-color: #fafafa; /* GREY 50 */
    --divider-color: #bdbdbd; /* GREY 400 */
    --card-background-color: #fafafa; /* GREY 50 */
}

:root {
    --page-vertical-padding-size: 20px;
}

/* ======================= Generic styles ======================= */

body { margin: 0; padding: 0; display: flex; flex-direction: column; font-family: 'Roboto', 'Open Sans', 'Arial', sans-serif; font-size: 1.2rem; line-height: 1.8rem; background: var(--page-background-color); color: var(--light-text-color-medium-emphasis); }

h1, h2, h3, h4, h5, h6 { margin: 1em 0 0.5em; font-family: 'Roboto Slab', serif; line-height: 1.2em; }
figure { margin: 0; }
img { display: inline-block; }
* {box-sizing: border-box;}

input { font-size: 1.5rem; }
input[type="text"] { border: none; outline: none; border-bottom: 1px solid var(--primary-color-light); border-radius: 2px; padding-bottom: 0.1em; color: var(--dark-primary-text-color); }

button { border: none; padding: 0.5em 1em; border-radius: 2px; font-size: 1.5rem; background-color: var(--primary-color-main); color: var(--light-text-color-high-emphasis); }
button:hover { background: var(--primary-color-dark); }
button[disabled] { background: var(--disabled-color); color: var(--light-text-color-disabled); }
a, a:visited { color: var(--primary-color-light); text-decoration: none; }
a:hover, a:active { text-decoration: underline; }

figcaption { text-align: center; font-size: 50%; line-height: 1.3em; }

.actionButton { display: inline-block; margin: 1em 0; padding: 1em 2em; color: var(--light-text-color-high-emphasis); background-color: var(--primary-color-main); text-decoration: none; transition: background-color 0.1s ease; cursor: pointer; }
.actionButton:hover { background-color: var(--primary-color-dark); text-decoration: none; }
.actionButton[disabled] { background: var(--disabled-color); color: var(--light-text-color-disabled); cursor: default;}

/* Non-semantic class, so it's a bit of cheating, but makes life easier. */
.preWrap { white-space: pre-wrap; }

main { box-sizing: border-box; min-width: 320px; max-width: 1000px; margin: 0 auto; padding: 0 var(--page-vertical-padding-size); }
main { font-size: 1.5rem; line-height: 160%; }
@media screen and (max-width: 730px) {
    main { font-size: 5.2vw; }
}

footer { margin: 2em auto 0; text-align: center; }

/* ======================= Site header ======================= */

/*                          Logo | menu | spacer | Sign in button | Hamburger menu | Profile pic
 mobile, unauthenticated     x    popup     x            x                x
 desktop, unauthenticated    x    fixed     x            x
 mobile, authenticated       x    popup     x                             x
 desktop, authenticated      x    fixed     x                                            x
*/

/* The site header and its links */
#app > header { display: flex; align-items: stretch; height: 47px; line-height: 1.3rem; background-color: var(--navbar-color); }
#app > header a { display: block; box-sizing: border-box; height: 47px; padding: 14px 16px; text-align: center; color: var(--light-text-color-high-emphasis); text-decoration: none; transition: color 0.3s ease, background-color 0.3s ease; }
#app > header a.active { background-color: var(--primary-color-light); }
#app > header a:hover { background-color: var(--primary-color-lighter); color: var(--dark-primary-text-color); }
#app > header a.active { background-color: var(--primary-color-main); color: var(--dark-primary-text-color); }
#app > header a.active:hover { background-color: var(--primary-color-main); color: var(--dark-primary-text-color); }

/* Logo and site title */
#app > header .logo { flex-basis: 50px; padding: 0; display: flex; }
#app > header .logo img { width: auto; height: 100%; margin: 2px 0 0 2px;}
#app > header a.logo.active { background-color: var(--primary-color-dark); color: var(--light-text-color-high-emphasis);}
#app > header a.logo.active:hover { background-color: var(--primary-color-dark); color: var(--light-text-color-high-emphasis); }
#app > header .siteTitle { padding: 14px 16px 14px 0; user-select: none; }

/* Menu (a fixed menu for desktops, a popup for narrow screens) */
#app > header nav { display: flex; flex-direction: row; visibility: visible; position: unset; background-color: var(--primary-color-dark); }
#app > header nav a { display: flex; }
#app > header nav hr { border: none; flex-grow: 1; }
#app > header nav a span.icon { display: none; }
#app > header nav a span.profile img { width: 25px; height: 25px; margin: 0; }
#app > header nav a span.title { flex-grow: 1; text-align: left; padding-left: 0; }
#app > header nav hr { display: block; height: 1.5px; margin: -10px 3em 10px 16px; background-color: var(--dark-primary-text-color); }
#app > header nav .menuItem.signOut { display: none;}
@media screen and (max-width: 830px) {
    /* If narrow screen, make menu a popup */
    #app > header nav { flex-direction: column; visibility: hidden; position: absolute; z-index: 50; background: white; top: 47px; right: 0; }
    #app > header nav.visible { visibility: visible; }
    #app > header nav a { display: flex; padding: 0; background-color: var(--light-text-color-high-emphasis); color: var(--dark-primary-text-color); }
    #app > header nav a:hover { background-color: var(--primary-color-lighter); color: var(--dark-primary-text-color); }
    #app > header nav a .title { display: flex; padding: 14px 16px 14px 0; }
    #app > header nav a span.icon { display: inline-block; width: 30px; padding: 11px 8px 11px; text-align: center; color: var(--dark-primary-text-color); }
    #app > header nav .menuItem.signOut { display: flex;}
}

/* Spacer between left-aligned and right-aligned items */
#app > header .spacer { flex-grow: 1; }

/* Hamburger menu icon – displayed only if narrow screen */
#app > header .hamburgerMenu { display: none; cursor: pointer; font-size: 47px; }
#app > header .hamburgerMenu:hover { background-color: var(--primary-color-lighter); color: var(--primary-color-dark); transition: color 0.3s ease, background-color 0.3s ease; }
@media screen and (max-width: 830px) {
    #app > header .hamburgerMenu { display: block; color: var(--light-text-color-high-emphasis); }
}

/* Authentication menu – only on narrow screens, if signed in */
#app > header img.profilePicture { width: 40px; height: 40px; margin: 3px 4px 4px 4px; border-radius: 50%; cursor: pointer; }
#app > header nav.authenticationMenu { visibility: hidden; }
#app > header nav.authenticationMenu.visible { visibility: visible; }
#app > header nav.authenticationMenu { flex-direction: column; visibility: hidden; position: absolute; z-index: 50; background: white; top: 47px; right: 0; }
#app > header nav.authenticationMenu a { display: flex; padding: 0; background-color: var(--light-text-color-high-emphasis); color: var(--dark-primary-text-color); }
#app > header nav.authenticationMenu a:hover { background-color: var(--primary-color-lighter); color: var(--dark-primary-text-color); }
#app > header nav.authenticationMenu a .title { display: flex; padding: 14px 16px 14px 0; }
#app > header nav.authenticationMenu a span.icon { display: inline-block; width: 30px; padding: 11px 8px 11px; text-align: center; color: var(--dark-primary-text-color); }
#app > header nav.authenticationMenu .menuItem.signOut { display: flex;}
@media screen and (max-width: 830px) {
    #app > header > img.profilePicture { display: none;}
    #app > header nav.authenticationMenu.visible { visibility: hidden; }
}

/* ======================= Upload page ======================= */

/* Upload form */
#fileUpload .title input { display: block; width: 80%; margin: 1em auto; border: none; border-bottom: 2px solid var(--primary-color-dark); text-align: center; font-size: 1.5rem; background-color: var(--page-background-color); color: var(--light-text-color-high-emphasis); }
#fileUpload .imageFileSelector { width: 50%; margin: 0 auto; }

.imageFileSelector > div { position: relative; padding-top: 100%; }
.imageFileSelector > div > * { position: absolute; width: 100%; top: 0; right: 0; bottom: 0; left: 0; }
.imageFileSelector input { z-index: 3; opacity: 0; cursor: pointer; }
.imageFileSelector .helpText { z-index: 2; display: flex; border: 2px dashed var(--light-text-color-high-emphasis); box-sizing: border-box; }
.imageFileSelector .helpText > * { margin: auto; padding: 20%; text-align: center; }
.imageFileSelector .preview { z-index: 1; display: flex; }
.imageFileSelector .preview img { max-width: 100%; max-height: 100%; margin: auto; text-align: center; }

.imageFileSelector .removeButton { z-index: 4; width: 30px; height: 30px; padding: 0; line-height: 10px; bottom: auto; left: auto; font-size: 15px; text-align: center; border-radius: 2em; background: transparent; border: 1px solid var(--accent-color); color: var(--accent-color); cursor: pointer; transition: color 0.3s ease, background-color 0.3s ease; }
.imageFileSelector .removeButton:hover { background: var(--accent-color); color: var(--light-text-color-high-emphasis); }

#fileUpload .selectionStatus { margin-top: 1em; text-align: center; }
#fileUpload .selectionStatus.error { color: var(--error-color); }

#fileUpload .uploadButton { margin-top: 1em; text-align: center; }
#fileUpload .uploadButton button { font-size: 1.5rem; }

#fileUpload .uploadStatus { margin-top: 1em; text-align: center; }
#fileUpload .uploadStatus.error { color: var(--error-color); }
#fileUpload .uploadStatus progress { width: 50%; }
#fileUpload .uploadStatus div { margin-top: 1em; }
@media screen and (max-width: 920px) {
    .imageFileSelector .helpText > * { padding: 5%; }
}

/* Full-page loading animation – Source: https://codepen.io/vreuling/pen/OXoVXA */
#fullPageLoadingIndicator { position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(16, 16, 16, 0.5); }
#fullPageLoadingIndicator > div { margin: auto; position: absolute; top: 0; left: 0; bottom: 0; right: 0; width: 200px; height: 200px; }
#fullPageLoadingIndicator .spinner { position: absolute; display: block; width: 160px; height: 160px; top: 20px; left: 20px; border-radius: 80px; box-shadow: 0 6px 0 0 var(--primary-color-main); animation: spinnerAnimation 1s linear infinite; }
#fullPageLoadingIndicator .logo { position: absolute; display: block; width: 80px; height: 80px; top: 60px; left: 60px; background: url('app/potato-with-camera-logo.svg') no-repeat center; background-size: cover; animation: logoAnimation 1s ease-in-out infinite; }

/* ======================= Loading screen ======================= */

@keyframes spinnerAnimation {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
@keyframes logoAnimation {
    0% { transform: scale(1); }
    50% { transform: scale(1.2); }
    100% { transform: scale(1); }
}

/* ======================= Article elements ======================= */

/* Metadata */
article .articleMetadata { padding-left: 5%; font-size: 70%; line-height: 1.6em; }

/* Page-width figure */
article .simpleFigure { display: table; margin: 0 auto; }
article .simpleFigure figure { width: 100%; }
article .simpleFigure img { width: 100%; }

/* Figures that pop up a bit on mouse hover */
article .figures { display: flex; width: fit-content; max-width: 100%; margin: 0 auto; }
article img.zoomOnHover { width: 100%; height: 100%; transition: transform ease-in-out 0.3s; }
article img.zoomOnHover:hover { transform: scale(1.2); }
article .enlargeable.fullscreen img.zoomOnHover:hover { transform: none; }

/* Enlargeable elements */
article .enlargeable { display: inline-block; width: 300px; margin: 0 30px; transition: all 1s ease-in-out; }
article .enlargeable figure { background-color: var(--page-background-color); }
article .enlargeable.fullscreen figure { position: fixed; z-index: 1; cursor: pointer; transition: all 0.3s ease-in-out; }
article .enlargeable.fullscreen figcaption { position: absolute; bottom: 0.2em; width: 50%; left: 50%; transform: translateX(-50%); padding: 0.2em; z-index: 2; text-align: center; font-size: 1rem; line-height: 1.8rem; background: #0005; color: var(--light-text-color-high-emphasis); transition: all 0.5s ease-in-out; }
article .enlargeable.fullscreen img { object-fit: contain; }

/* Image comparison */
.imageComparison { position: relative; overflow: hidden; margin: 0 auto; max-width: 100%; --slider-size: 40px; }
.imageComparison > .primary img { display: block; width: 100%; }
.imageComparison > .overlay { position: absolute; width: 100%; top: 0; bottom: 0; }
.imageComparison > .overlay img { width: 100%; height: 100%; object-fit: cover; object-position: left; }
.imageComparison > .slider { position: absolute; z-index: 2; width: var(--slider-size); height: var(--slider-size); background-color: var(--primary-color-dark); opacity: 0.7; border-radius: 50%; transform: translateX(-50%); cursor: ew-resize; }

/* Notes and tips */
article .note { padding: 15px; margin-bottom: 28px; border: 1px solid #ffc7e3; border-radius: 2px; background-color: #ffe0eb; }
article .tip { padding: 15px; margin-bottom: 28px; border: 1px solid #ffe0c7; border-radius: 2px; background-color: #fff3e0; }

/* ======================= Other stuff ======================= */

.youTubeVideoContainer { display: table; margin: 0 auto; }