:root { /* All colors are from here: https://www.materialpalette.com/colors */
    --page-background-color: #263238; /* BLUE GREY 900 */
    --navbar-color: #455a64; /* BLUE GREY 700 */
    --dark-primary-color: #303f9f; /* INDIGO 700 */
    --default-primary-color: #3f51b5; /* INDIGO 500 */
    --light-primary-color: #c5cae9; /* INDIGO 100 */
    --light-primary-text-color: #fff; /* WHITE */
    --dark-primary-text-color: #000; /* BLACK */
    --accent-color: #ff5722; /* DEEP ORANGE 500 */
    --disabled-background-color: #757575; /* GREY 600 */
    --light-disabled-text-color: #fafafa; /* GREY 50 */
    --divider-color: #bdbdbd; /* GREY 400 */
    --card-background-color: #fafafa; /* GREY 50 */
}

/* Generic styles */
body { margin: 0; padding: 0; display: flex; flex-direction: column; font-family: 'Roboto', 'Open Sans', 'Arial', sans-serif; font-size: 3vw; background: var(--page-background-color); color: var(--light-primary-text-color); }
@media (min-width: 650px) {
    body { font-size: 1.8vw; }
}
@media (min-width: 1000px) {
    body { font-size: 1.5vw; }
}
input[type="text"] { border: none; outline:none; border-bottom:1px solid var(--light-primary-color); border-radius: 2px; padding-bottom:0.1em; color: var(--dark-primary-text-color); }
button { border: none; padding: 0.5em 1em; border-radius: 2px; background-color: var(--default-primary-color); color: var(--light-primary-text-color); }
button:hover { background: var(--dark-primary-color); }
button[disabled] { background: var(--disabled-background-color); }
a, a:visited { color: var(--default-primary-color); text-decoration: none; }
a:hover, a:active { text-decoration: underline; }

/* Navigation */
#app > header { flex-basis: 50px; background-color: var(--navbar-color); display: flex; }
#app > header .logo { flex-basis: 50px; background: black; }
#app > header .logo img { width: 35px; height: 35px; margin: 8px 0 0 8px;}
#app > header nav { display: flex; flex-grow: 1; }
#app > header a { display: block; padding: 14px 16px; text-align: center; color: var(--light-primary-text-color); text-decoration: none; transition: color 0.3s ease, background-color 0.3s ease; }
#app > header a:hover { background-color: var(--light-primary-color); color: var(--dark-primary-text-color); }
#app > header a.active { background-color: var(--default-primary-color); }
#app > header a.active:hover { background-color: var(--default-primary-color); color: var(--light-primary-text-color); }

#app > header .authentication { width: 100px; align-self: flex-end; text-align: right; }
#app > header .authentication img { width: 40px; height: 40px; border-radius: 50%; cursor: pointer; }
#app > header .authentication .menu { visibility: hidden; opacity: 0; position: absolute; width: 200px; right: 0; transition: visibility 0s, opacity 0.3s ease; }
#app > header .authentication:hover .menu { visibility: visible; opacity: 1; }
#app > header .authentication a { text-align: left; width: 100%; box-sizing: content-box; background-color: var(--light-primary-text-color); color: var(--dark-primary-text-color); }
#app > header .authentication a:hover { width: 100%; box-sizing: content-box; background-color: var(--light-primary-color); }

main { width: 640px; margin: 0 auto; }

footer { width: 640px; margin: 2em auto 0; text-align: center; }

/* Loading icon */
.lds-roller { display: inline-block; position: relative; width: 80px; height: 80px; zoom: 0.5; }
.lds-roller div { animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite; transform-origin: 40px 40px;}
.lds-roller div:after { content: " "; display: block; position: absolute; width: 7px; height: 7px; border-radius: 50%; background: var(--light-primary-color); margin: -4px 0 0 -4px;}
.lds-roller div:nth-child(1) { animation-delay: -0.036s;}
.lds-roller div:nth-child(1):after { top: 63px; left: 63px;}
.lds-roller div:nth-child(2) { animation-delay: -0.072s;}
.lds-roller div:nth-child(2):after { top: 68px; left: 56px;}
.lds-roller div:nth-child(3) { animation-delay: -0.108s;}
.lds-roller div:nth-child(3):after { top: 71px; left: 48px;}
.lds-roller div:nth-child(4) { animation-delay: -0.144s;}
.lds-roller div:nth-child(4):after { top: 72px; left: 40px;}
.lds-roller div:nth-child(5) { animation-delay: -0.18s;}
.lds-roller div:nth-child(5):after { top: 71px; left: 32px;}
.lds-roller div:nth-child(6) { animation-delay: -0.216s;}
.lds-roller div:nth-child(6):after { top: 68px; left: 24px;}
.lds-roller div:nth-child(7) { animation-delay: -0.252s;}
.lds-roller div:nth-child(7):after { top: 63px; left: 17px;}
.lds-roller div:nth-child(8) { animation-delay: -0.288s;}
.lds-roller div:nth-child(8):after { top: 56px; left: 12px;}
@keyframes lds-roller {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Upload form */
#fileUpload .title input { display: block; width: 100%; margin:1em 0; border: none; text-align: center; font-size: 1.5em; background-color: var(--page-background-color); color: var(--light-primary-text-color)}
#fileUpload .imageFileSelector { width: 50%; margin: 0 auto; }

.imageFileSelector > div { position: relative; padding-top: 100%; }
.imageFileSelector > div > * { position: absolute; width: 100%; top: 0; right: 0; bottom: 0; left: 0; }
.imageFileSelector input { z-index: 3; opacity: 0; cursor: pointer; }
.imageFileSelector .helpText { z-index: 2; display: flex; border: 2px dashed var(--light-primary-text-color); box-sizing: border-box; }
.imageFileSelector .helpText > * { margin: auto; padding: 20%; text-align: center; }
.imageFileSelector .preview { z-index: 1; display: flex; }
.imageFileSelector .preview img { width: 100%; margin: auto; text-align: center; }

.imageFileSelector .removeButton { z-index: 4; width: 30px; height: 30px; padding:0; line-height: 10px; bottom: auto; left: auto; font-size: 15px; text-align: center; border-radius: 2em; background: transparent; border: 1px solid var(--accent-color); color: var(--accent-color); cursor: pointer; transition: color 0.3s ease, background-color 0.3s ease; }
.imageFileSelector .removeButton:hover { background: var(--accent-color); color: var(--light-primary-text-color); }

#fileUpload .uploadButton { margin-top: 1em; text-align: center; }
#fileUpload .uploadButton button { font-size: 1.5em; }

#fileUpload .uploadStatus { margin-top: 1em; text-align: center; }
#fileUpload .uploadStatus progress { width: 50%; }
#fileUpload .uploadStatus div { margin-top: 1em; }
