/* ======================= All variables ======================= */

/* ----------------------- Colors ----------------------- */

/*
 * Primary and accent colors are from here: https://material-ui.com/customization/color/#color-tool
 * Background and text colors are from here: https://uxplanet.org/8-tips-for-dark-theme-design-8dfc2f8f7ab6
 */
:root {
    --google-recommended-dark-background-color: #121212;
    --paper-background-color: #424242;
    --primary-color-dark: #1769aa;
    --primary-color-main: #2196f3; /* BLUE 500 */
    --primary-color-light: #4dabf5;
    --primary-color-lighter: #cee8fc;
    --accent-color-dark: #b28900;
    --accent-color-main: #ffc400; /* AMBER A400 */
    --accent-color-light: #ffcf33;
    --disabled-color: #404040;
    --light-text-color-high-emphasis: rgba(255, 255, 255, 0.87);
    --light-text-color-medium-emphasis: rgba(255, 255, 255, 0.70);
    --light-text-color-disabled: rgba(255, 255, 255, 0.38);
}

:root {
    --page-background-color: var(--google-recommended-dark-background-color);
    --main-background-color: var(--paper-background-color);
    --navbar-color: var(--primary-color-dark);
    --dark-primary-text-color: #000; /* BLACK */
    --error-color: #ff5722; /* DEEP ORANGE 500 */
    --accent-color: #ff5722; /* DEEP ORANGE 500 */
    --light-disabled-text-color: #fafafa; /* GREY 50 */
    --divider-color: #bdbdbd; /* GREY 400 */
    --card-background-color: #fafafa; /* GREY 50 */
}

/* ----------------------- Fonts ----------------------- */

:root {
    --ui-font: 'Montserrat', sans-serif;
    --header-font: 'Montserrat', sans-serif;
    --content-font: 'Merriweather', serif;
}

/* ----------------------- Sizes ----------------------- */

:root {
    --minimum-site-width: 320px;
    --maximum-content-width: 1000px;
    --site-header-height: 47px;
    --page-vertical-padding-size: 20px;
}

/* ======================= Typography ======================= */

body {font-family: var(--content-font); font-size: 1.1rem; line-height: 1.6em; }
figcaption { font-size: 50%; line-height: 1.3em; }
h1, h2, h3, h4, h5, h6 { font-family: var(--header-font); line-height: 1.2em; }
main { font-size: 1.5rem; line-height: 160%; }
input, button { font-family: var(--ui-font); font-size: 1.5rem; }
@media screen and (max-width: 730px) {
    main { font-size: 4vw; }
    input, button { font-size: 4vw; }
    footer { font-size: 3.5vw; }
}
@media screen and (max-width: 320px) {
    main { font-size: 0.8rem; }
    input, button { font-size: 0.8rem; }
    footer { font-size: 0.7rem; }
}
header { font-family: var(--ui-font); line-height: 1.3rem; }
article .articleMetadata { font-size: 70%; line-height: 1.6em; }
article .enlargeable.fullscreen figcaption { font-size: 1rem; line-height: 1.8rem; }
footer { font-family: var(--ui-font); line-height: 1.3rem; }

/* ======================= Generic styles ======================= */


body { margin: 0; padding: 0; display: flex; flex-direction: column; background: var(--page-background-color); color: var(--light-text-color-medium-emphasis); }

h1, h2, h3, h4, h5, h6, p { margin-block-start: 1em; margin-block-end: 0.5em; }
ul, ol {margin-block-start: 0.5em; margin-block-end: 0.5em; }
li { margin-block-start: 0.5em; margin-block-end: 0.5em; }
figure { margin: 0; }
figcaption { text-align: center; }
img { display: inline-block; }
* {box-sizing: border-box;}

input[type="text"] { border: none; outline: none; border-bottom: 1px solid var(--primary-color-light); border-radius: 2px; padding-bottom: 0.1em; color: var(--dark-primary-text-color); }

button { margin-block-start: 1em; margin-block-end: 1em; border: none; padding: 0.5em 1em; border-radius: 2px; background-color: var(--primary-color-main); color: var(--light-text-color-high-emphasis); transition: background-color 0.1s ease; cursor: pointer; }
button:hover { background: var(--primary-color-dark); }
button[disabled] { background: var(--disabled-color); color: var(--light-text-color-disabled); cursor: default;}
a, a:visited { color: var(--primary-color-light); text-decoration: none; }
a:hover, a:active { text-decoration: underline; }

a.brokenLink { text-decoration: line-through; }

/* Non-semantic class, so it's a bit of cheating, but makes life easier. */
.preWrap { white-space: pre-wrap; }

main { box-sizing: border-box; min-width: var(--minimum-site-width); max-width: var(--maximum-content-width); margin: 0 auto; padding: 0 var(--page-vertical-padding-size); }

/* ======================= Site header ======================= */

/* When each site header element is displayed:

                          Logo | menu | spacer | Sign in button | Hamburger menu | Profile pic
 mobile, unauthenticated     x    popup     x            x                x
 desktop, unauthenticated    x    fixed     x            x
 mobile, authenticated       x    popup     x                             x
 desktop, authenticated      x    fixed     x                                            x
*/

/* The site header and its links */
#app > header { display: flex; align-items: stretch; min-width: var(--minimum-site-width); height: var(--site-header-height); background-color: var(--navbar-color); }
@media screen and (min-height: 500px) {
    #app > header { position: fixed; width: 100%; z-index: 10; }
    #app > main { padding-top: var(--site-header-height); }
}
#app > header a { display: block; box-sizing: border-box; height: var(--site-header-height); padding: 14px 16px; text-align: center; color: var(--light-text-color-high-emphasis); text-decoration: none; transition: color 0.3s ease, background-color 0.3s ease; }
#app > header a.active { background-color: var(--primary-color-light); }
#app > header a:hover { background-color: var(--primary-color-lighter); color: var(--dark-primary-text-color); }
#app > header a.active { background-color: var(--primary-color-main); color: var(--dark-primary-text-color); }
#app > header a.active:hover { background-color: var(--primary-color-main); color: var(--dark-primary-text-color); }

/* Logo and site title */
#app > header .logo { flex-basis: 50px; padding: 0; display: flex; }
#app > header .logo img { width: auto; height: 100%; margin: 2px 0 0 2px;}
#app > header a.logo.active { background-color: var(--primary-color-dark); color: var(--light-text-color-high-emphasis);}
#app > header a.logo.active:hover { background-color: var(--primary-color-dark); color: var(--light-text-color-high-emphasis); }
#app > header .siteTitle { padding: 14px 16px 14px 0; user-select: none; }

/* Menu (a fixed menu for desktops, a popup for narrow screens) */
#app > header nav { display: flex; flex-direction: row; visibility: visible; position: unset; background-color: var(--primary-color-dark); }
#app > header nav a { display: flex; }
#app > header nav hr { border: none; flex-grow: 1; }
#app > header nav a span.icon { display: none; }
#app > header nav a span.profile img { width: 25px; height: 25px; margin: 0; }
#app > header nav a span.title { flex-grow: 1; text-align: left; padding-left: 0; }
#app > header nav hr { display: block; height: 2px; margin: -10px 3em 10px 16px; background-color: var(--dark-primary-text-color); }
#app > header nav .menuItem.signOut { display: none;}
@media screen and (max-width: 1050px) {
    /* If narrow screen, make menu a popup */
    #app > header nav { flex-direction: column; visibility: hidden; position: absolute; z-index: 50; background: white; top: var(--site-header-height); right: 0; }
    #app > header nav.visible { visibility: visible; }
    #app > header nav a { display: flex; padding: 0; background-color: var(--light-text-color-high-emphasis); color: var(--dark-primary-text-color); }
    #app > header nav a:hover { background-color: var(--primary-color-lighter); color: var(--dark-primary-text-color); }
    #app > header nav a .title { display: flex; padding: 14px 16px 14px 0; }
    #app > header nav a span.icon { display: inline-block; box-sizing: content-box; width: 30px; padding: 11px 8px 11px; text-align: center; color: var(--dark-primary-text-color); }
    #app > header nav .menuItem.signOut { display: flex;}
}

/* Spacer between left-aligned and right-aligned items */
#app > header .spacer { flex-grow: 1; }

/* Hamburger menu icon – displayed only if narrow screen */
#app > header .hamburgerMenu { display: none; cursor: pointer; font-size: var(--site-header-height); }
#app > header .hamburgerMenu:hover { background-color: var(--primary-color-lighter); color: var(--primary-color-dark); transition: color 0.3s ease, background-color 0.3s ease; }
@media screen and (max-width: 1050px) {
    #app > header .hamburgerMenu { display: block; color: var(--light-text-color-high-emphasis); }
}

/* Authentication menu – only on narrow screens, if signed in */
#app > header img.profilePicture { width: 40px; height: 40px; margin: 3px 4px 4px 4px; border-radius: 50%; cursor: pointer; }
#app > header nav.authenticationMenu { visibility: hidden; }
#app > header nav.authenticationMenu.visible { visibility: visible; }
#app > header nav.authenticationMenu { flex-direction: column; visibility: hidden; position: absolute; z-index: 50; background: white; top: var(--site-header-height); right: 0; }
#app > header nav.authenticationMenu a { display: flex; padding: 0; background-color: var(--light-text-color-high-emphasis); color: var(--dark-primary-text-color); }
#app > header nav.authenticationMenu a:hover { background-color: var(--primary-color-lighter); color: var(--dark-primary-text-color); }
#app > header nav.authenticationMenu a .title { display: flex; padding: 14px 16px 14px 0; }
#app > header nav.authenticationMenu a span.icon { display: inline-block; box-sizing: content-box; width: 30px; padding: 11px 8px 11px; text-align: center; color: var(--dark-primary-text-color); }
#app > header nav.authenticationMenu .menuItem.signOut { display: flex;}
@media screen and (max-width: 1050px) {
    #app > header > img.profilePicture { display: none;}
    #app > header nav.authenticationMenu.visible { visibility: hidden; }
}

/* ======================= Site footer ======================= */

footer { display: flex; min-width: var(--minimum-site-width); max-width: var(--maximum-content-width); margin: 2em auto 1em; padding: 0 var(--page-vertical-padding-size); }
footer .copyright { text-align: left; flex-grow: 1;}
footer .social { text-align: right; }
footer .icon { display: inline-block; padding: 0.3em 0.5em; width: 2em; height: 1em; background-size: 1em; background-repeat: no-repeat; background-position: center; opacity: 0.6; transition: opacity 0.3s ease; }
footer .icon:hover { opacity: 1; }
footer .facebook.icon { background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg enable-background='new 0 0 310 310' version='1.1' viewBox='0 0 310 310' xml:space='preserve' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23fff' d='m81.703 165.11h33.981v139.89c0 2.762 2.238 5 5 5h57.616c2.762 0 5-2.238 5-5v-139.24h39.064c2.54 0 4.677-1.906 4.967-4.429l5.933-51.502c0.163-1.417-0.286-2.836-1.234-3.899-0.949-1.064-2.307-1.673-3.732-1.673h-44.996v-32.284c0-9.732 5.24-14.667 15.576-14.667h29.42c2.762 0 5-2.239 5-5v-47.274c0-2.762-2.238-5-5-5h-40.545c-0.286-0.014-0.921-0.037-1.857-0.037-7.035 0-31.488 1.381-50.804 19.151-21.402 19.692-18.427 43.27-17.716 47.358v37.752h-35.673c-2.762 0-5 2.238-5 5v50.844c0 2.762 2.238 5.001 5 5.001z'/%3E%3C/svg%3E"); }
footer .instagram.icon { background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg viewBox='0 0 512 512' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m256 49.471c67.266 0 75.233 0.257 101.8 1.469 24.562 1.121 37.9 5.224 46.778 8.674a78.052 78.052 0 0 1 28.966 18.845 78.052 78.052 0 0 1 18.845 28.966c3.45 8.877 7.554 22.216 8.674 46.778 1.212 26.565 1.469 34.532 1.469 101.8s-0.257 75.233-1.469 101.8c-1.121 24.562-5.225 37.9-8.674 46.778a83.427 83.427 0 0 1-47.811 47.811c-8.877 3.45-22.216 7.554-46.778 8.674-26.56 1.212-34.527 1.469-101.8 1.469s-75.237-0.257-101.8-1.469c-24.562-1.121-37.9-5.225-46.778-8.674a78.051 78.051 0 0 1-28.966-18.845 78.053 78.053 0 0 1-18.845-28.966c-3.45-8.877-7.554-22.216-8.674-46.778-1.212-26.564-1.469-34.532-1.469-101.8s0.257-75.233 1.469-101.8c1.121-24.562 5.224-37.9 8.674-46.778a78.052 78.052 0 0 1 18.847-28.967 78.053 78.053 0 0 1 28.966-18.845c8.877-3.45 22.216-7.554 46.778-8.674 26.565-1.212 34.532-1.469 101.8-1.469m0-45.391c-68.418 0-77 0.29-103.87 1.516-26.815 1.224-45.127 5.482-61.151 11.71a123.49 123.49 0 0 0-44.62 29.057 123.49 123.49 0 0 0-29.065 44.62c-6.223 16.025-10.481 34.337-11.7 61.152-1.231 26.866-1.521 35.448-1.521 103.87s0.29 77 1.521 103.87c1.224 26.815 5.482 45.127 11.71 61.151a123.49 123.49 0 0 0 29.057 44.62 123.49 123.49 0 0 0 44.62 29.057c16.025 6.228 34.337 10.486 61.151 11.71 26.87 1.226 35.449 1.516 103.87 1.516s77-0.29 103.87-1.516c26.815-1.224 45.127-5.482 61.151-11.71a128.82 128.82 0 0 0 73.677-73.677c6.228-16.025 10.486-34.337 11.71-61.151 1.226-26.87 1.516-35.449 1.516-103.87s-0.29-77-1.516-103.87c-1.224-26.815-5.482-45.127-11.71-61.151a123.49 123.49 0 0 0-29.057-44.62 123.49 123.49 0 0 0-44.623-29.063c-16.025-6.223-34.337-10.481-61.152-11.7-26.866-1.231-35.448-1.521-103.87-1.521z' fill='%23fff'/%3E%3Cpath d='M256,126.635A129.365,129.365,0,1,0,385.365,256,129.365,129.365,0,0,0,256,126.635Zm0,213.338A83.973,83.973,0,1,1,339.974,256,83.974,83.974,0,0,1,256,339.973Z' fill='%23fff'/%3E%3Ccircle cx='390.48' cy='121.52' r='30.23' fill='%23fff'/%3E%3C/svg%3E%0A"); }

/* ======================= Upload page ======================= */

/* Upload form */
#fileUpload .title input { display: block; width: 100%; margin: 1em auto; border: none; border-bottom: 2px solid var(--primary-color-dark); text-align: center; background-color: var(--page-background-color); color: var(--light-text-color-high-emphasis); }
#fileUpload .imageFileSelector { width: 50%; margin: 0 auto; }

.imageFileSelector > div { position: relative; padding-top: 100%; }
.imageFileSelector > div > * { position: absolute; width: 100%; top: 0; right: 0; bottom: 0; left: 0; }
.imageFileSelector input { z-index: 3; opacity: 0; cursor: pointer; }
.imageFileSelector .helpText { z-index: 2; display: flex; border: 2px dashed var(--light-text-color-high-emphasis); box-sizing: border-box; }
.imageFileSelector .helpText > * { margin: auto; padding: 20%; text-align: center; }
.imageFileSelector .preview { z-index: 1; display: flex; }
.imageFileSelector .preview img { max-width: 100%; max-height: 100%; margin: auto; text-align: center; }

.imageFileSelector .removeButton { z-index: 4; width: 30px; height: 30px; padding: 0; line-height: 10px; bottom: auto; left: auto; font-size: 15px; text-align: center; border-radius: 2em; background: transparent; border: 1px solid var(--accent-color); color: var(--accent-color); cursor: pointer; transition: color 0.3s ease, background-color 0.3s ease; }
.imageFileSelector .removeButton:hover { background: var(--accent-color); color: var(--light-text-color-high-emphasis); }

#fileUpload .selectionStatus { margin-top: 1em; }
#fileUpload .selectionStatus.error { color: var(--error-color); }

#fileUpload .uploadButton { margin-top: 1em; }

#fileUpload .uploadStatus { margin-top: 1em; }
#fileUpload .uploadStatus.error { color: var(--error-color); }
#fileUpload .uploadStatus div { margin-top: 1em; }
@media screen and (max-width: 920px) {
    .imageFileSelector .helpText > * { padding: 5%; }
}

/* ======================= Loading screen ======================= */

/* Variables */
#fullPageLoadingIndicator {--indicatorSize: 200px; --spinnerSize: 160px; --logoSize: 80px; }

/* Full-page loading animation – Source: https://codepen.io/vreuling/pen/OXoVXA */
#fullPageLoadingIndicator { position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(16, 16, 16, 0.5); }
#fullPageLoadingIndicator > div { margin: auto; position: absolute; top: 0; left: 0; bottom: 0; right: 0;
    width: var(--indicatorSize); height: var(--indicatorSize); }
#fullPageLoadingIndicator .spinner { position: absolute; display: block; width: var(--spinnerSize); height: var(--spinnerSize);
    top: calc((var(--indicatorSize) - var(--spinnerSize)) / 2); left: calc((var(--indicatorSize) - var(--spinnerSize)) / 2);
    border-radius: calc(var(--spinnerSize) / 2); box-shadow: 0 6px 0 0 var(--primary-color-main); animation: spinnerAnimation 1s linear infinite; }
#fullPageLoadingIndicator .logo { position: absolute; display: block; width: var(--logoSize); height: var(--logoSize);
    top: calc((var(--indicatorSize) - var(--logoSize)) / 2); left: calc((var(--indicatorSize) - var(--logoSize)) / 2);
    background: url('./app/potato-with-camera-logo.svg') no-repeat center; background-size: cover; animation: logoAnimation 1s ease-in-out infinite; }

@keyframes spinnerAnimation {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
@keyframes logoAnimation {
    0% { transform: scale(1); }
    50% { transform: scale(1.2); }
    100% { transform: scale(1); }
}

/* ======================= Article elements ======================= */

/* Metadata */
article .articleMetadata { padding-left: 5%; }

/* Page-width figure */
article .simpleFigure { display: table; margin: 0 auto; }
article .simpleFigure figure { width: 100%; }
article .simpleFigure img { width: 100%; }

/* Figures that pop up a bit on mouse hover */
article .figures { display: flex; width: fit-content; max-width: 100%; margin: 0 auto; }
article .zoomOnHover img { width: 100%; height: 100%; transition: transform ease-in-out 0.3s; }
article .zoomOnHover img:hover { transform: scale(1.1); }
article .zoomOnHover.enlargeable.fullscreen img:hover { transform: none; }

/* Enlargeable elements */
article .enlargeable { display: table; margin: 0 auto; }
article .figures .enlargeable { display: inline-block; width: 300px; margin: 0 30px; transition: all 1s ease-in-out; }
article .enlargeable figure { background-color: var(--page-background-color); }
article .enlargeable.fullscreen figure { position: fixed; z-index: 1; cursor: pointer; transition: all 0.3s ease-in-out; }
article .enlargeable.fullscreen figcaption { position: absolute; bottom: 0.2em; width: 50%; left: 50%; transform: translateX(-50%); padding: 0.2em; z-index: 2; text-align: center; background: #0005; color: var(--light-text-color-high-emphasis); transition: all 0.5s ease-in-out; }
article .enlargeable.fullscreen img { object-fit: contain; }

/* Image comparison */
.imageComparison { --slider-size: 40px; }
.imageComparison { margin: 0 auto; max-width: 100%; }
.imageComparison figure { position: relative; display: block; overflow: hidden; width: 100%; }
.imageComparison figure > .primary img { display: block; width: 100%; }
.imageComparison figure > .overlay { position: absolute; width: 100%; top: 0; bottom: 0; }
.imageComparison figure > .overlay img { width: 100%; height: 100%; object-fit: cover; object-position: right; }
.imageComparison figure > .slider { position: absolute; z-index: 2; width: var(--slider-size); height: var(--slider-size);
    background-color: var(--primary-color-dark); opacity: 0.7; border-radius: 50%; transform: translateX(-50%); cursor: ew-resize; }

/* Notes and tips */
article .note { padding: 15px; border: 1px solid var(--primary-color-main); border-radius: 2px; background-color: var(--primary-color-dark); }
article .tip { padding: 15px; border: 1px solid var(--accent-color-main); border-radius: 2px; background-color: var(--accent-color-dark); }

/* ======================= Other stuff ======================= */

.youTubeVideoContainer { display: table; margin: 0 auto; }
